## DAP 2: Preprocessing

### Processing the American Community Survey Data

In [5]:
import numpy as np
import pandas as pd
import os

In [2]:
acs_data = pd.read_csv("../rawdata/acs_alldata.csv", na_values=["(X)"], dtype=str)

In [3]:
acs_data.shape

(29568, 2086)

In [4]:
acs_data.head()

,GEO_ID,NAME,DP02_0001E,DP02_0001M,DP02_0001PE,DP02_0001PM,DP02_0002E,DP02_0002M,DP02_0002PE,DP02_0002PM,...,DP05_0087PE,DP05_0087PM,DP05_0088E,DP05_0088M,DP05_0088PE,DP05_0088PM,DP05_0089E,DP05_0089M,DP05_0089PE,DP05_0089PM
0,1600000US0100100,"Abanda CDP, Alabama",70,40,70,NaN,14,22,20,35.8,...,131,NaN,41,61,31.3,30.6,90,47,68.7,30.6
1,1600000US0100124,"Abbeville city, Alabama",982,113,982,NaN,615,74,62.6,6.8,...,2083,NaN,1079,111,51.8,4,1004,93,48.2,4
2,1600000US0100460,"Adamsville city, Alabama",1601,148,1601,NaN,1085,87,67.8,6.7,...,3437,NaN,1584,179,46.1,3.6,1853,147,53.9,3.6
3,1600000US0100484,"Addison town, Alabama",339,71,339,NaN,198,55,58.4,10.2,...,579,NaN,309,85,53.4,5.8,270,73,46.6,5.8
4,1600000US0100676,"Akron town, Alabama",110,33,110,NaN,62,29,56.4,16.7,...,260,NaN,120,67,46.2,12.7,140,51,53.8,12.7

In [5]:
acs_data.tail()

,GEO_ID,NAME,DP02_0001E,DP02_0001M,DP02_0001PE,DP02_0001PM,DP02_0002E,DP02_0002M,DP02_0002PE,DP02_0002PM,...,DP05_0087PE,DP05_0087PM,DP05_0088E,DP05_0088M,DP05_0088PE,DP05_0088PM,DP05_0089E,DP05_0089M,DP05_0089PE,DP05_0089PM
29563,1600000US7286831,"Villalba zona urbana, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2830,NaN,1272,201,44.9,3.3,1558,288,55.1,3.3
29564,1600000US7287863,"Yabucoa zona urbana, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5181,NaN,2149,300,41.5,3.7,3032,343,58.5,3.7
29565,1600000US7288035,"Yauco zona urbana, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12754,NaN,5789,516,45.4,2.2,6965,525,54.6,2.2
29566,1600000US7288121,"Yaurel comunidad, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1187,NaN,639,247,53.8,7.7,548,158,46.2,7.7
29567,id,Geographic Area Name,Estimate!!HOUSEHOLDS BY TYPE!!Total households,Margin of Error!!HOUSEHOLDS BY TYPE!!Total hou...,Percent Estimate!!HOUSEHOLDS BY TYPE!!Total ho...,Percent Margin of Error!!HOUSEHOLDS BY TYPE!!T...,Estimate!!HOUSEHOLDS BY TYPE!!Total households...,Margin of Error!!HOUSEHOLDS BY TYPE!!Total hou...,Percent Estimate!!HOUSEHOLDS BY TYPE!!Total ho...,Percent Margin of Error!!HOUSEHOLDS BY TYPE!!T...,...,Percent Estimate!!CITIZEN VOTING AGE POPULATIO...,Percent Margin of Error!!CITIZEN VOTING AGE PO...,Estimate!!CITIZEN VOTING AGE POPULATION!!Citiz...,Margin of Error!!CITIZEN VOTING AGE POPULATION...,Percent Estimate!!CITIZEN VOTING AGE POPULATIO...,Percent Margin of Error!!CITIZEN VOTING AGE PO...,Estimate!!CITIZEN VOTING AGE POPULATION!!Citiz...,Margin of Error!!CITIZEN VOTING AGE POPULATION...,Percent Estimate!!CITIZEN VOTING AGE POPULATIO...,Percent Margin of Error!!CITIZEN VOTING AGE PO...

#### Removing extra colums
For now, we will be removing the columns containing error values and the percentage values, we will keep this in raw data for use later.

Valid columns that contain only the estimates end with a singular E 
e.g. DP02_0001E, DP05_0089E)

We are using a regex to filter only the estimate columns, while keeping the GEO_ID and NAME values

In [6]:
acs_data = acs_data.filter(regex="^(GEO_ID)|(NAME)|(DP\d\d_\d\d\d\d[E])$")

In [7]:
acs_data.head()

,GEO_ID,NAME,DP02_0001E,DP02_0002E,DP02_0003E,DP02_0004E,DP02_0005E,DP02_0006E,DP02_0007E,DP02_0008E,...,DP05_0080E,DP05_0081E,DP05_0082E,DP05_0083E,DP05_0084E,DP05_0085E,DP05_0086E,DP05_0087E,DP05_0088E,DP05_0089E
0,1600000US0100100,"Abanda CDP, Alabama",70,14,0,14,0,0,0,0,...,0,0,0,0,0,0,70,131,41,90
1,1600000US0100124,"Abbeville city, Alabama",982,615,209,413,103,46,31,156,...,0,0,0,34,0,34,1309,2083,1079,1004
2,1600000US0100460,"Adamsville city, Alabama",1601,1085,377,785,277,58,9,242,...,0,0,0,36,0,36,1959,3437,1584,1853
3,1600000US0100484,"Addison town, Alabama",339,198,63,140,30,24,11,34,...,0,0,0,37,0,37,376,579,309,270
4,1600000US0100676,"Akron town, Alabama",110,62,13,31,4,0,0,31,...,0,0,0,0,0,0,200,260,120,140

In [59]:
acs_data.shape

(29568, 485)

#### Removed extra columns with data that we will not be using.
Exported the processed data set

In [2]:
acs_data.to_csv("trimmed_acs.csv")

NameError: name 'acs_data' is not defined

In [61]:
acs_data.shape

(29568, 485)

In [62]:
type(acs_data["DP02_0001E"][1])

str

In [64]:
acs_data.tail()

,GEO_ID,NAME,DP02_0001E,DP02_0002E,DP02_0003E,DP02_0004E,DP02_0005E,DP02_0006E,DP02_0007E,DP02_0008E,...,DP05_0080E,DP05_0081E,DP05_0082E,DP05_0083E,DP05_0084E,DP05_0085E,DP05_0086E,DP05_0087E,DP05_0088E,DP05_0089E
29563,1600000US7286831,"Villalba zona urbana, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,1341,2830,1272,1558
29564,1600000US7287863,"Yabucoa zona urbana, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11,0,0,0,0,0,2756,5181,2149,3032
29565,1600000US7288035,"Yauco zona urbana, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,7301,12754,5789,6965
29566,1600000US7288121,"Yaurel comunidad, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,517,1187,639,548
29567,id,Geographic Area Name,Estimate!!HOUSEHOLDS BY TYPE!!Total households,Estimate!!HOUSEHOLDS BY TYPE!!Total households...,Estimate!!HOUSEHOLDS BY TYPE!!Total households...,Estimate!!HOUSEHOLDS BY TYPE!!Total households...,Estimate!!HOUSEHOLDS BY TYPE!!Total households...,Estimate!!HOUSEHOLDS BY TYPE!!Total households...,Estimate!!HOUSEHOLDS BY TYPE!!Total households...,Estimate!!HOUSEHOLDS BY TYPE!!Total households...,...,Estimate!!HISPANIC OR LATINO AND RACE!!Total p...,Estimate!!HISPANIC OR LATINO AND RACE!!Total p...,Estimate!!HISPANIC OR LATINO AND RACE!!Total p...,Estimate!!HISPANIC OR LATINO AND RACE!!Total p...,Estimate!!HISPANIC OR LATINO AND RACE!!Total p...,Estimate!!HISPANIC OR LATINO AND RACE!!Total p...,Estimate!!Total housing units,Estimate!!CITIZEN VOTING AGE POPULATION!!Citiz...,Estimate!!CITIZEN VOTING AGE POPULATION!!Citiz...,Estimate!!CITIZEN VOTING AGE POPULATION!!Citiz...

In [8]:
acs_data = pd.read_csv("trimmed_acs.csv", dtype=str)

raw_labels = acs_data.loc[29567, :]
raw_labels = raw_labels[2 : ]

# Example of raw label
print(raw_labels[0])

Geographic Area Name

In [9]:
import re

# Remove the redundant Estimate and !! values
regex1 = "^Estimate!!"
raw_labels = [re.sub(regex1, "", label) for label in raw_labels]
raw_labels = [re.sub("!!", ", ", label) for label in raw_labels]

# Map coded lable to readable lable
labels_dict = dict()

for col, label in zip(acs_data.columns[2:], raw_labels):     # ignoring the first 2 columns as they are already readable
    labels_dict[col] = label
    
labels = pd.Series(labels_dict)

labels.to_csv("acs_lables.csv")

In [10]:
labels

NAME                                       Geographic Area Name
DP02_0001E                 HOUSEHOLDS BY TYPE, Total households
DP02_0002E    HOUSEHOLDS BY TYPE, Total households, Family h...
DP02_0003E    HOUSEHOLDS BY TYPE, Total households, Family h...
DP02_0004E    HOUSEHOLDS BY TYPE, Total households, Family h...
                                    ...
DP05_0085E    HISPANIC OR LATINO AND RACE, Total population,...
DP05_0086E                                  Total housing units
DP05_0087E    CITIZEN VOTING AGE POPULATION, Citizen 18 and ...
DP05_0088E    CITIZEN VOTING AGE POPULATION, Citizen 18 and ...
DP05_0089E    CITIZEN VOTING AGE POPULATION, Citizen 18 and ...
Length: 484, dtype: object

In [11]:
acs_data.head()

,Unnamed: 0,GEO_ID,NAME,DP02_0001E,DP02_0002E,DP02_0003E,DP02_0004E,DP02_0005E,DP02_0006E,DP02_0007E,...,DP05_0080E,DP05_0081E,DP05_0082E,DP05_0083E,DP05_0084E,DP05_0085E,DP05_0086E,DP05_0087E,DP05_0088E,DP05_0089E
0,0,1600000US0100100,"Abanda CDP, Alabama",70,14,0,14,0,0,0,...,0,0,0,0,0,0,70,131,41,90
1,1,1600000US0100124,"Abbeville city, Alabama",982,615,209,413,103,46,31,...,0,0,0,34,0,34,1309,2083,1079,1004
2,2,1600000US0100460,"Adamsville city, Alabama",1601,1085,377,785,277,58,9,...,0,0,0,36,0,36,1959,3437,1584,1853
3,3,1600000US0100484,"Addison town, Alabama",339,198,63,140,30,24,11,...,0,0,0,37,0,37,376,579,309,270
4,4,1600000US0100676,"Akron town, Alabama",110,62,13,31,4,0,0,...,0,0,0,0,0,0,200,260,120,140